.bg-white {
  background-color: white;
}

#options-control {
  position: absolute;
  top: 0;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, .03);
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0.25rem;
}

#main {
  padding-top: 36px;
  padding-bottom: 96px !important;
}

.test-label {
  position: absolute;
  top: 0;
  left: 0;
}

.list-group-item[data-test] {
  padding-top: 1.5rem;
}

.hidden {
  display: none;
}

#barcode-wrapper {
  position: absolute;
  bottom: 30px;
  background: rgba(255, 255, 0, 0.8);
  padding: 0.875rem;
  cursor: pointer;
}

#barcode-wrapper.provisioned {
  background-color: rgba(0, 255, 0, 0.5);
}

#provisioning-wrapper {
  position: absolute;
  bottom: 120px;
  left: 0.875rem;
  font-weight: bold;
}

#injected-stats {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  list-style-type: none;
}